/* styles.css */

/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styling */
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
  }
  
  /* Header styling */
  header {
    background: #333;
    color: #fff;
    padding: 20px;
  }
  
  
  
  header .nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }
  
  header .nav-links li {
    margin-left: 20px;
  }
  
  header .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Hero Section */
  .hero {
    background: url('fitness-image.jpg') no-repeat center center/cover;
    color: black;
    padding: 80px 0;
    text-align: center;
  }
  
  .hero h2 {
    font-size: 50px;
    margin-bottom: 10px;
  }
  
  .hero p {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .cta-button {
    background-color: #e67e22;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
  }
  
  .cta-button:hover {
    background-color: #d35400;
  }
  
  /* About Section */
  #about {
    padding: 40px 20px;
    text-align: center;
    background-color: #fff;
  }
  
  #about h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  /* Services Section */
  #services {
    padding: 40px 20px;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  #services h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .service {
    display: inline-block;
    width: 30%;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .service h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .service p {
    font-size: 18px;
    color: #555;
  }
  
  
  #logo{
    display: flex;
    align-items: center;
    gap: 20px;
  }